{{> header}}

<h1>Koogle</h1>

<div class="container">
    <input type="text" placeholder="Search..">
    <button id="submit">Submit</button>
    <button id="search">Search</button>

</div>
{{> footer}}