{{> header}}
{{> navbar}}

<div class="container">
    <h1>{{title}}</h1>
    <form action="/search-console" method="post">
        <div class="form-group">
            <label for="url"></label> <input type="text"
                                                           class="form-control" id="url" name="url" placeholder="Add url.."/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{> footer}}